
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Ingresa tu correo electrónico
      <p class="subTitle">Para restablecer la contraseña</p>
    </ion-title>
  </div>
  <form [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPassword()">
    <div>
      <ion-item>
        <ion-input formControlName="email" placeholder="Correo Electronico" type="email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-note *ngIf="ResetPasswordForm.controls['email'].hasError('required') && ResetPasswordForm.controls['email'].touched" color="danger">
        Ingrese su Correo Electronico
      </ion-note>
      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
        <ion-fab-button expand="block" type="submit" [disabled]="ResetPasswordForm.invalid" [routerLink]="['/home']">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </form>
</ion-content>
